nav{
    height: 40px;
    display: flex;
    padding: 10px 36px;
    box-shadow: 0px 3.51594px 8.78984px rgba(0, 0, 0, 0.1);
}
body{
    font-family: 'Poppins',sans-serif;
}
.nav--logo{
    max-width: 100px;
    max-height: 50px;
}
.hero{
    display:flex;
    flex-direction: column;
}
.Collections{
    align-self: center;
    margin-top: 3%;
}
.Hero--h1{
    margin-left: 3%;
    margin-bottom: 0px;
}
.Hero--p{
    margin-top: 10px;
    margin-left: 3%;
    max-width: 400px;
}
.card{
width:175px;
font-size:12px;
flex:0 0 auto;
display: flex;
flex-direction: column;
position: relative;
}   
.card--img{
    width:200px;
    height: 300px;
    border-radius: 9px;
}
.card--stats{
    display:flex;
    align-items: center;
}
.card--star{
    height:14px;
}
.gray{
    color:#918E9B;
}
.bold{
    font-weight:bold;
}
.section{
    padding: 20px;
}
.cards-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
    overflow-x: auto;
  padding: 20px;
}
.card--badge{
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}